# Dependencies
node_modules/


# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
